# NEXTCLOUD #

HOMEPAGE_VAR_NEXTCLOUD_USER=nextcloud
HOMEPAGE_VAR_NEXTCLOUD_PASSWORD=nextcloud

# PI-HOLE #

HOMEPAGE_VAR_PIHOLE_API_KEY=token

# JELLYFIN #

HOMEPAGE_VAR_JELLYFIN_API_KEY=token

# Weather API #

HOMEPAGE_VAR_WEATHER_API_KEY=token
HOMEPAGE_VAR_LOCATION_LATITUDE=latitude
HOMEPAGE_VAR_LOCATION_LONGITUDE=longitude
